/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
input.input-group-field.inline-form{
  width: 100%;
  display: inline;
  height: 50px;
}

div.inline-form {
  display: inline;
}

div.post-show{
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 25px;
  background-color: #ffffff;
}

.post-show:hover{
  border: #6EEB83 solid;
}

.post-body{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Helvetica;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.comment-input{
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  max-height: 10em;
  width: 96%;
}

.comment-tile{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #f7f7f7;
  padding-left: 20px;
  background-color: #f7f7f7;
  border-radius: 25px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.comment-list{

}

input.button.comment-button{
  background-color: #6EEB83;
  margin-left: 2%;
}

.post-photo{
  float:center;
  margin-left: 25%;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-bottom: 15px;
}
.family-name{
  text-align: center;
}
