div.todo-header{
  width: 500px;
  height: 50px;
  background-color: #45C7DC;
}
.todo-familyName{
  float: left;
  color: white;
  padding-top: 10px;
  margin-left: 10px;
}

.todo-logo{
  position: -webkit-sticky;
  position: sticky;
  bottom: 2rem;
  margin: 0 auto;
  float: left;
  left: 1rem;
  width: 150px;
  height: 150px;
}
div.todo-index-container {
  width: 500px;
  height: 400px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 2rem;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: left;
  float:left;
  left: 1rem;
  text-align: center;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

div.list-group{
  width: 500px;
  height: 300px;
  overflow-y: scroll;
}


.form-inline {
  padding-top: 5%;
  width: 90%;
  display: flex;
  float: center;
  justify-content: center;
  padding-left: 10%;
  position: sticky;
}
.form-control{
  justify-content: center;
  height: 50px !important;

}

.todo-submit{
  position: sticky;
  background-color:#6EEB83;
}
.todo-submit:hover{
  background-color:#6EEB83;
}
.done {
  color: red;
  text-decoration: line-through;
  text-align: center;
  width: 95%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
}

.undone {
  color: #6EEB83;
  text-align: center;
  width: 95%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
}

.todo-close{
  width: 20px;
  height: 20px;
  float: right;
}

.todo-check{
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 8px;
}

.fi-check{
  float: left;
  padding-left: 30px;
  font-size: 20px;
}

.fi-x {
  float: right;
  color: black;
  font-size: 20px;
}

div.todo-text{
  display: inline;
  font-size: 20px;

}
